<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewreport" content="width=device-width, initial-scale=1.0">
	<title>
		PreciousPals
	</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/index.css" />
</head>
<body>
	<div class="container-fluid banner">
		<div class="row">
			<div class="col-md-8 offset-md-2 info">
				<h1 class="text-center">PreciousPals</h1>
				<p class="text-start">
					Welcome to PreciousPals, the online destination for connecting with the people who matter most. In our fast-paced world, it's easy to lose touch with friends and loved ones. But at PreciousPals, we believe in the power of personal connections and the importance of staying connected to those who have played a meaningful role in our lives.
					With PreciousPals, you can store information about your most precious people and the things you have in common, from shared interests and hobbies to cherished memories of the old days. Whether you're looking to reconnect with old friends or strengthen existing relationships, our platform makes it easy to stay in touch and keep those personal connections alive.
					Our mission at PreciousPals is simple: to help you build and maintain meaningful relationships that enrich your life. We understand that life gets busy and it can be challenging to find time to stay connected, but we believe that personal connections are worth the effort. That's why we've created a platform that makes it easy to store important information about your friends and loved ones, so you can easily reach out and stay in touch whenever you want.
					So why not join the PreciousPals community today and start building deeper, more meaningful connections with the people who matter most? Whether you're looking to reconnect with old friends or simply store memories of cherished moments, our platform is the perfect place to start. We look forward to helping you stay connected and build lasting relationships that will stand the test of time.
				
				</p>
				<div style="text-align: center;" class="d-grid gap-2 d-md-block">
					<a href="/login"><button style="background-color: #142d4c; border:#142d4c" class="btn btn-primary" type="button">Log In</button></a>
					<a href="/sign-up"><button style="background-color: #142d4c; border:#142d4c" class="btn btn-primary" type="button">Sign Up</button></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>